.Body{
  width: auto;
  height: 100vh;
  display: flex;
 /* background-color: rgb(236, 235, 241); */
}

.Main {
  margin-left: 170px;
  height: 100vh;
}

.App {
  background-color: #090c46;
  height: 100vh;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
}


.App a, li{
  text-decoration: none;
  list-style: none;
  color: white;
}

.App li {
  padding-top: 2em;
}


.Searchbar {
  padding-top: 3em;
}

.Searchbar input{
  height: 35px;
  width: 50%;
  border-radius: 10px;
  background-color: #c0c2ed;
}

.Dashboard {
  padding-top: 3em;
  display: grid;
  grid-template-columns: 200px 200px ;
  text-align: center;
}

.Totalitems{
  background-color: #bcbeef;
  border-radius: 10px;
}

.Categories {
  background-color: #bcbeef;
  margin-left: 10px;
  border-radius: 10px;
}

/* featured products */

.Featuredproducts {
  padding-left: 1em;
  padding-top: 0.1em;
  border-radius: 10px;
  margin-top: 50px;
  height: 100vh;
  width: 85vw;
  
}

.Featuredproducts h2{
  text-align: center;
}

/* .Features{
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(3, 1fr);
} */
 .Features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  color: white;
  grid-gap: 10px;
  
  /* grid-auto-flow: column; */
} 



.Featureitems{
  box-shadow: 5px 5px 5px #494a6e;
  background-color: #4649a5;
  border-radius: 50px;
  margin-left: 20px;
  text-align: center;
  right: 5px;
  padding-top: 2em;
}

.Featureitems img{
  max-width: 50%;
  border-radius: 50%;
}

.Itemtittle{
  font-weight: 700;
}


