.Body{
  width: auto;
  height: 100vh;
  display: flex;
  background-color: rgb(243,242, 254);
}

.Main {
  margin-left: 170px;
}
.App {
  background-color: #007755;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
}


.App a, li{
  text-decoration: none;
  list-style: none;
  color: white;
}

.App li {
  padding-top: 2em;
}


.Searchbar {
  padding-top: 3em;
}

.Searchbar input{
  height: 35px;
  width: 50%;
  border-radius: 10px;
}

.Dashboard {
  padding-top: 3em;
  display: grid;
  grid-template-columns: 200px 200px ;
  text-align: center;
}

.Totalitems{
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px 5px rgb(149, 146, 146);
  border-radius: 10px;
}

.Categories {
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  box-shadow: 5px 5px 5px 5px rgb(149, 146, 146);
  border-radius: 10px;
}

/* featured products */

.Featuredproducts {
  padding-left: 1em;
  padding-top: 0.1em;
  box-shadow: 5px 5px 5px 5px rgb(149, 146, 146);
  border-radius: 10px;
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  height: 50vh;
  width: 85vw;
  
}

/* .Features{
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(3, 1fr);
} */
 .Features {
  display: grid;
  
  grid-template-columns:.5fr .5fr .5fr .5fr .2fr; 
  color: white;
  
  /* grid-auto-flow: column; */
} 



.Featureitems{
  box-shadow: 5px 5px 5px 5px rgb(149, 146, 146);
  background-color: #007755;
  border-radius: 5px;
  margin-left: 20px;
  text-align: center;
  height: 20em;
  right: 5px;
  padding-top: 2em;
}

.Featureitems img{
  max-width: 25%;
}

.Itemtittle{
  font-weight: 700;
}

